<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let image of carImages let i = index" class="carousel-item active" [ngClass]="{'active' :i == 0}">
                    <img  src="https://localhost:44361/uploads/{{image.imageName}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <table class="table">
                    <tbody *ngFor="let carDetail of carDetail">
                      <tr>
                        <th scope="row">Marka</th>
                        <td>{{carDetail.brandName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Model Yılı</th>
                        <td>{{carDetail.modelYear}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Günlük Fiyat</th>
                        <td>{{carDetail.dailyPrice}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Açıklama</th>
                        <td>{{carDetail.description}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Renk</th>
                        <td>{{carDetail.colorName}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>